{% extends "layout.html" %}

{% block title %}
Все записи (Бета)
{% endblock %}

{% block content %}
    <div id="create_client" >{% include 'create_client.html' %}</div> <br>
    {% if clients %}
        {% for client in clients %}
            <div class="notes">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">TG ID:</label>
                        <div class="col-sm-10">
                            <label id="client_tg_id" class="form-control-plaintext">{{ client.Client.tg_id }}</label>
                         </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">TG ссылка:</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext">{{ client.Client.tg_link }}</label>
                         </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Имя:</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext">{{ client.Client.name }}</label>
                         </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Период инвестирования:</label>
                        <div class="col-sm-10">
                            <label class="form-control-plaintext">{{ client.Client.investment_time }}</label>
                         </div>
                </div>
                <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Инвестиционный инструменты:</label>
                                <div class="col-sm-10">
                                    <label class="form-control-plaintext">{{ client.Client.investment_tools }}</label>
                                </div>
                </div>
                <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Сумма инвестирования в мес:</label>
                                <div class="col-sm-10">
                                    <label class="form-control-plaintext">{{ client.Client.investment_amount }}</label>
                                 </div>
                </div>
                <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Когда удобно встретиться:</label>
                                <div class="col-sm-10">
                                    <label class="form-control-plaintext">{{ client.Client.meeting }}</label>
                                 </div>
                </div>
                <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Мобильный номер:</label>
                                <div class="col-sm-10">
                                    <label class="form-control-plaintext">{{ client.Client.contact_number }}</label>
                                 </div>
                </div>
                <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Дата заполнения:</label>
                                <div class="col-sm-10">
                                    <label class="form-control-plaintext">{{ client.Client.registered_at }}</label>
                                 </div>
                </div>
                <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Просмотрен:</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" class="processed-checkbox" name="is_processed" data-client-id="client-{{ client.Client.id }}"
                                           {% if client.Client.is_processed %} checked {% endif %} onchange="updateProcessed({{ client.Client.id }}, this.checked)">
                                </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>У вас нет записей!</h1>
    <br>
    {% endif %}

<script>
    function updateProcessed(clientId, isChecked) {
        console.log(typeof isChecked);
        fetch(`/api/v1/clients/${clientId}/processed`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                is_processed: isChecked
            })
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error(error));
    }
</script>


{% endblock %}


