{% extends "layout.html" %}

{% block title %}
Добавить запись (Бета)
{% endblock %}

{% block content %}
    <form id="add-client-form" role="form" class="form-horizontal">
        <label for="tg_id" class="control-label col-sm-2">Telegram ID:</label>
        <input type="number" id="tg_id" name="tg_id" class="form-control" required><br><br>

        <label for="tg_link">Telegram Link:</label>
        <input type="text" id="tg_link" name="tg_link" required><br><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="investment_time">Investment Time:</label>
        <input type="text" id="investment_time" name="investment_time" required><br><br>

        <label for="investment_tools">Investment Tools:</label>
        <input type="text" id="investment_tools" name="investment_tools" required><br><br>

        <label for="investment_amount">Investment Amount:</label>
        <input type="text" id="investment_amount" name="investment_amount" required><br><br>

        <label for="meeting">Meeting:</label>
        <input type="text" id="meeting" name="meeting" required><br><br>

        <label for="contact_number">Contact Number:</label>
        <input type="text" id="contact_number" name="contact_number" required><br><br>

        <input type="submit" value="Submit">
        <div id="message"></div>
    </form>



    <script>
        const form = document.getElementById('add-client-form');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const formData = new FormData(event.target);

            try {
                const response = await fetch('/api/v1/clients/add_new_client', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(Object.fromEntries(formData))
                });

                const result = await response.json();

                if (response.ok) {
                    console.log(result);
                    message.textContent = 'Запись успешно добавлена';
                    console.log(result);
                } else {
                    console.error(result);
                    message.textContent = 'Ошибка при добавлении записи';
                    console.error(result);
                }
            } catch (error) {
                console.error(error);
            }

        });
    </script>

{% endblock %}
