<!DOCTYPE html>
<html>
<head>
    <title>404 – страница не найдена</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', path='image/mda.jpg') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', path='css/404.css') }}">
    <style type="text/css">

    </style>
</head>
<body>
<div class="content">
    <a href="/">Перейти к главной странице</a><br><br>

</div>

</body>
</html>
